<!DOCTYPE html>
<html>
	<head>
		<title>{{ article.title }}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	</head>

	<body>
		<div class="container">
			<h1>Saved Articles</h1>
			<ul>
				{% for article in articles %}
					<li>
						<h3>
							<a href="/article/{{article.id}}">{{ article.title }}</a>
						</h3>
					</li>
				{% endfor %}
			</ul>
		</div>
	</body>
	<script src="/js/marked.min.js"></script>
	<script src="/js/vendor.bundle.js"></script>
</html>